@import '../../../../theme/styles/variables.scss';

.progress-bars {
  display: flex;
  position: absolute;
  top: 31%;
  right: 5%;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 300px;
}

.progress-bar {
  position: relative;
  width: 100%;
  background: $main-bg;
  border-radius: 8px;
  padding: 8px;
}

.progress-bar label {
  font-weight: bold;
  color: $main-color;
  margin-bottom: 0.3rem;
  display: flex;
  justify-content: space-between;
}

.bar {
  position: relative;
  height: 24px;
  background: $dark-bg;
  border-radius: 8px;
  overflow: hidden;
}

.fill {
  height: 100%;
  transition: width 1.5s ease-in-out;
  position: relative;
}

.life .fill {
  background: red;
  animation: fill-animation 1.5s forwards ease-in-out;
}

.mana .fill {
  background: yellow;
  animation: fill-animation 1.5s forwards ease-in-out;
}

.xp .fill {
  background: aqua;
  animation: fill-animation 1.5s forwards ease-in-out;
}

.segments-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  pointer-events: none;
}

.segment {
  border-right: 2px solid $main-bg;
  height: 100%;
}

.segment:last-child {
  border-right: none;
}

@keyframes fill-animation {
  from {
    width: 0;
  }
  to {
    width: var(--i);
  }
}
